.modal-close {
    width: 32px;
    height: 32px;
    background: var(--gray-100);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--gray-600);
    transition: background var(--transition);
}
.popup-header {
    font-family: 'Syne', sans-serif; font-size: 1.1rem; font-weight: 700;
}
/* .modal-header {
  display: flex !important;
  flex-shrink: 0 !important;
  align-items: center;
} */
 .is-invalid {
    border-block-color: coral;
 }