<main class="main-content">

  <!-- Page banner -->
  <div class="page-banner">
    <img src="images/contacts-icon.svg" alt="" />
    <div class="page-banner-overlay">
      <i class="ri-contacts-book-2-line"></i>
      <div>
        <div class="pb-title">All Templates</div>
        <div class="pb-sub">2 total templates in your CRM</div>
      </div>
      <div style="margin-left:auto"> </div>
    </div>
  </div>

  <div class="card">

   <div class="card-header" style="flex-wrap:wrap;gap:10px">
        <div style="display:flex;gap:10px;flex-wrap:wrap;flex:1">
          <div style="position:relative"><i class="ri-search-line"
              style="position:absolute;left:10px;top:50%;transform:translateY(-50%);color:var(--gray-400);font-size:14px"></i>
          </div>
        </div>
        <div style="display:flex;gap:8px">        
          <a  routerLink="/new-email-template"
            class="btn btn-sm btn-primary"><i class="ri-add-line"></i> Add New Template </a>
        </div>
      </div>

      
    <!-- Table -->
    <div class="table-wrap">
      <table class="data-table">
        <thead>
          <tr>
            <th>Template Name</th>
            <th>Email Action</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let c of templates; let i = index;">
          <tr>
            <td>{{c.template_name}}</td>
             <td>{{c.email_action_name}}</td>
            <td>{{c.is_active==true ? 'Active' : 'Inactive'}}</td>
           
            <td class="text-muted text-xs">{{c.createdDate | date:'dd/MM/yyyy'}}</td>
            <td>
              <div class="tbl-actions">
                <a (click)="openTemplateDetail(c)" class="btn btn-icon btn-outline"><i
                    class="ri-eye-line"></i></a>
                    <!-- <button *ngIf="actionPermission.writePermission" (click)="openAddContact(c)" class="btn btn-icon btn-secondary"><i
                    class="ri-edit-line"></i>
                  </button>
                  <button *ngIf="actionPermission.writePermission" (click)="confirmDeleteContact(c)" class="btn btn-icon btn-danger"><i
                    class="ri-delete-bin-line"></i>
                  </button> -->
                  </div>
            </td>
          </tr>
       </ng-container>
        <ng-container *ngIf="templates.length === 0">
          <tr>
            <td colspan="7" style="text-align:center;padding:20px;color:var(--gray-400)">No templates found</td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
    <!-- Pagination -->
    <div class="card-body" style="padding:10px 18px">
      <div class="pagination">
        <!-- <button class="page-btn active">1</button>
        <button class="page-btn">2</button>
        <button class="page-btn"><i class="ri-arrow-right-s-line"></i></button> -->

         <!-- <button
            *ngFor="let p of [].constructor(totalPages); let i = index"
            class="page-btn"
            [class.active]="filter.pageNumber === i + 1"
            (click)="goToPage(i + 1)">
            {{ i + 1 }}
        </button> -->
      </div>
    </div>
  </div>
</main>