<aside class="sidebar">
    <!-- <div class="sidebar-logo">
        <div class="sidebar-logo-icon">{{profile?.company_name | initials}}</div>
        <div class="sidebar-logo-text"><strong>{{profile?.company_name}}</strong><span>{{profile?.slogan}}</span></div>
    </div> -->
    <div class="sidebar-logo">
        <div class="sidebar-logo-icon" style="background:none;padding:0;overflow:hidden">
            <img [src]="_tempLogoUrl" alt="GrowSkill" style="width:100%;height:100%;object-fit:cover;border-radius:10px" />
        </div>
        <div class="sidebar-logo-text"><strong>{{profile?.company_name}}</strong><span>{{profile?.slogan}}</span></div>
    </div>
    <nav class="sidebar-nav">

        <div class="nav-label">Main</div>
        <a *ngIf="menuPermissions.dashboard" routerLink="/" class="nav-item" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"><i class="ri-dashboard-2-line"></i> Dashboard</a>

        <a *ngIf="menuPermissions.contacts" routerLink="/contacts" routerLinkActive="active" class="nav-item "><i
                class="ri-contacts-book-2-line"></i> Contacts </a>
                <!-- <span class="nav-badge">12</span> -->
        <a *ngIf="menuPermissions.pipeline" routerLink="/pipeline" routerLinkActive="active" class="nav-item "><i
                class="ri-kanban-view-line"></i> Pipeline</a>

        <div class="nav-label" style="margin-top:6px">Management</div>
        <a *ngIf="menuPermissions.bulkImport" routerLink="/bulk-import" routerLinkActive="active" class="nav-item "><i
                class="ri-upload-cloud-2-line"></i> Bulk Import</a>

        <div class="nav-label" routerLinkActive="active" style="margin-top:6px">System</div>
        <a *ngIf="menuPermissions.settings" (click)="toggleSettingsMenu()" routerLinkActive="active"
            class="nav-item ">
            <i class="ri-settings-3-line"></i>
            Settings</a>

        <div class="submenu" *ngIf="isSettingsOpen">
            <a *ngIf="menuPermissions.userManagement" routerLink="/users" routerLinkActive="active"
                class="nav-item submenu-item">
                <i class="ri-team-line"></i>
                User Management
            </a>

            <a routerLink="/email-templates" routerLinkActive="active" class="nav-item submenu-item">
                <i class="ri-book-line"></i>
                Email Templates
            </a>
            <!-- <a routerLink="/manage-subscriptions" routerLinkActive="active" class="nav-item submenu-item">
                <i class="ri-vip-crown-line"></i>
                Manage Subscriptions
            </a> -->
            <a routerLink="/system-configurations" routerLinkActive="active" class="nav-item submenu-item">
                <i class="ri-settings-3-line"></i>
                System Configuration
            </a>
        </div>
    </nav>
    <app-footer></app-footer>
</aside>